body {
    background-color: #F3E7EF;
}
h1{
    font-family: 'ZCOOL KuaiLe', cursive;
}
.about {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    overflow: hidden;
    
    
}
.picWithText {
    max-width: 25%;
    float: left;
}
.profilePic img{   
    height: auto;
    width: 100%;;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 0 50% 50% 0 ;
}

.textDiv {
    padding-top: 1em;
}

.textDiv p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.skillset {
    float: right;
    min-width: 60%;
}
.container {
    width: 100%;
    background-color: #ddd;
  }

.skills {
    text-align: right;
    padding: 10px;
    color: white;
  }
  .front {width: 80%; background-color: #4CAF50;}
  .back {width: 60%; background-color: #4CAF50;}
  .rpa {width: 60%; background-color: #4CAF50;}
  .embedded {width: 60%; background-color: #4CAF50;}
  .devops {width: 40%; background-color: #4CAF50;}
