.footer {
    background-color: #7F3F92;
    color:white;
    margin-bottom: 0;
    float: left;
    min-width: 100%;
}
br {
    display:block;
    margin: 10px 0;
}
.contactInfo a{
    text-align: center;
    line-height: 1px;
}