.footer {
    background-color: #7F3F92;
    color:white;
    margin-bottom: 0;
    float: left;
    min-width: 100%;
}
.contactInfo a{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 25%;
}