header {
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    background-color:  #7F3F92;
    font-family: 'ZCOOL KuaiLe', cursive;
}

header p{
    margin: 0;
    color: #3A1D31;
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}